.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  right: 40px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  background: none;
  color: white;
  opacity: 0.5;
  display: grid;
  place-items: center;
  font-family: Poppins, sans-serif;
  margin: 0;
  border-radius: 50%;
}

.swiper-pagination-bullet span {
  font-size: 14px;
  font-weight: 600;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  font-size: 16px;
  border: 1px solid white;
}
